.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: -10px -10px 10px;
    background-color: #F2D6A2;
}

.imagem{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.botao{
    border: 1px solid #8C634A;
    padding: 10px;
    color: black;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.botao:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
}

